[Desktop Entry]
Encoding=UTF-8
Name=W2WGui
Comment=W2WGui
Exec=W2W-GUI
Terminal=false
Type=Application
Icon=w2w.png
MimeType=x-scheme-handler/w2wwallet;
Categories=Office;Finance;Cryptocurrency;
